# Godot 4+ (use .godot folder)
.godot/
export_presets.cfg
*.import

# Godot 3 (use .import folder)
# .import/
# export_presets.cfg

# Исключить файлы пользовательских сборок (опционально)
/builds/
/exports/
